.body {
  height: 100%;
  background: url('./assets/noise.png') #2a2a2a;
}

.container {
  padding: 25px 20px 12px 15px;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  box-sizing: content-box;
}

.input__text {
  width: 95.3%;
  height: 15vw;
  resize: none;
  font-family: Ysabeau, sans-serif;
  font-size: 30px;
  font-feature-settings: "tnum" on, "lnum" on;
  border: 3px solid #636363;
  border-radius: 5px;
  padding: 10px 25px;
  color: #25252c;
}

textarea:focus {
  outline: none;
}

.body__title {
  font-family: Ysabeau, sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #fcb42a;
  text-align: center;
  margin-top: 0px;
}

.keyboard {
  border-radius: 5px;
  padding: 10px 10px 5px 10px;
  margin-top: 30px;
  background: #636363;
}

.key {
  position: relative;
  height: 60px;
  width: 70px;
  font-family: Ysabeau, sans-serif;
  font-feature-settings: "tnum" on, "lnum" on;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
  color: white;
  background: #363636;
}


.key:hover {
  background: #101010;
  transition: all 0.4s ease;
}

.key:active,
.active {
  background: url('./assets/noise.png') #101010;
}

.key__second-char {
  position: absolute;
  top: 0px;
  left: 7px;
  font-size: 16px;
  font-feature-settings: "tnum" on, "lnum" on;
  font-weight: 500;
  color: #fcb42a;
}

.keyboard__row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  height: 65px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.description__system,
.description__language {
  font-family: Ysabeau, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #d5d5d5;
  margin: 3px;
}